<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>all categories</title>
</head>
<body>
	<ul>
	<% @category.each do |categories| %>
	<li>
	<%=  categories.title %>
	</li>
	<% end %>
	</ul>

</body>
</html>