<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>show data in rails</title>
</head>
<body>
	<p>the value is</p>
	<%= @category.title %>
</body>
</html>