<div class="mt-5">
  <div class="card container d-flex justify-content-center bg-info " style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title"> <%= @category.title %> </h5>
    </div>
  </div>
</div>